{{#extend "index"}}
    {{#content "main"}}
      <div class="intro-y flex items-center mt-8">
          <h2 class="text-lg font-medium mr-auto">
            {{#eq consultation.status 'NURSING'}}Nursing{{/eq}}
            {{#eq consultation.status 'EN_COURS'}}Consultation{{/eq}}
          </h2>
      </div>
      <!-- BEGIN: Profile Info -->
      <div class="intro-y box px-5 pt-5 mt-5">
          <div class="flex flex-col lg:flex-row border-b border-gray-200 dark:border-dark-5 pb-5 -mx-5">
              <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                  <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                      <img alt="Rubick Tailwind HTML Admin Template" class="rounded-full" src="/images/profile-14.jpg">
                  </div>
                  <div class="ml-5">
                      <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">{{ consultation.Client.nom }}&nbsp;{{ consultation.Client.prenom }}</div>
                      <div class="text-gray-600">{{ consultation.Client.profession }}</div>
                  </div>
              </div>
              <div class="mt-6 lg:mt-0 flex-1 dark:text-gray-300 px-5 border-l border-r border-gray-200 dark:border-dark-5 border-t lg:border-t-0 pt-5 lg:pt-0">
                  <div class="font-medium text-center lg:text-left lg:mt-3">Contact</div>
                  <div class="flex flex-col justify-center items-center lg:items-start mt-4">
                      <div class="truncate sm:whitespace-normal flex items-center"> <i data-feather="mail" class="w-4 h-4 mr-2"></i> {{ consultation.Client.email }} </div>
                      <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-feather="phone" class="w-4 h-4 mr-2"></i> {{ consultation.Client.addresse }} </div>
                      <div class="truncate sm:whitespace-normal flex items-center mt-3"> <i data-feather="map-pin" class="w-4 h-4 mr-2"></i> {{ consultation.Client.telephone }} </div>
                  </div>
              </div>
              <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-gray-200 dark:border-dark-5 pt-5 lg:pt-0">
                  <div class="text-center rounded-md w-20 py-3">
                      <div class="font-medium text-theme-1 dark:text-theme-10 text-xl">201</div>
                      <div class="text-gray-600">Orders</div>
                  </div>
                  <div class="text-center rounded-md w-20 py-3">
                      <div class="font-medium text-theme-1 dark:text-theme-10 text-xl">1k</div>
                      <div class="text-gray-600">Purchases</div>
                  </div>
                  <div class="text-center rounded-md w-20 py-3">
                      <div class="font-medium text-theme-1 dark:text-theme-10 text-xl">492</div>
                      <div class="text-gray-600">Reviews</div>
                  </div>
              </div>
          </div>
          <div class="nav nav-tabs flex-col sm:flex-row justify-center lg:justify-start" role="tablist">
              <a id="consultation-tab" data-toggle="tab" data-target="#main-tab" href="javascript:;" class="py-4 sm:mr-8 flex items-center active" role="tab" aria-controls="profile" aria-selected="true"> <i class="w-4 h-4 mr-2" data-feather="activity"></i> Consultation </a>
              <a id="profile-tab" data-toggle="tab" data-target="#profile" href="javascript:;" class="py-4 sm:mr-8 flex items-center" role="tab" aria-controls="profile" aria-selected="false"> <i class="w-4 h-4 mr-2" data-feather="user"></i> Profile </a>
              <a id="history-tab" data-toggle="tab" data-target="#history" href="javascript:;" class="py-4 sm:mr-8 flex items-center" role="tab" aria-selected="false"> <i class="w-4 h-4 mr-2" data-feather="shield"></i> Historique </a>
          </div>
      </div>

      <div class="intro-y tab-content mt-5">
        {{> nursing-tab }}          
        {{> consultation-tab }}
        {{> pending-consultation-tab }}
      </div>
    {{/content}}
{{/extend}}
